# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
frontend/node_modules/

# Build output directories
dist/
frontend/dist/143305092388-ba0a4jtvggi9vm55n9ii2e9fktmm4bt0.apps.googleusercontent.com
frontend/dist-ssr/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# TypeScript cache
*.tsbuildinfo

# Parcel cache
.cache
.parcel-cache

# Vitepress / Vuepress / Docusaurus caches and build
**/.vitepress/dist
**/.vitepress/cache
.vuepress/dist
.temp
.cache
.docusaurus

# Yarn Integrity file and cache
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variable files (não versionar para evitar vazar segredos)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor folders and files
.vscode/
!.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Build folders for frameworks you might usar (Next.js, Nuxt, Gatsby)
.next
out
.nuxt
.cache/

# Other common ignored files
*.tgz
.lock-wscript
build/Release

# REPL history
.node_repl_history

# Others (Serverless, DynamoDB local, FuseBox, TernJS port)
.serverless/
.dynamodb/
.fusebox/
.tern-port
.license

