.sobrenos-container {
  padding: 20px;
  background-color: #eff9ed;
}

.sobrenos-container p {
  padding: 1rem;
}

section.container-fluid {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mission-card {
  background-color: #d9eed9;
  border-radius: 20px;
  padding: 25px;
  color: #2A6441;
  margin-bottom: 0px;
}

.mission-card h1,
.mission-card h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-image-container {
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.hero-image-container img.image-styled {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
  height: auto;
}

.hero-image-container.no-radius {
  border-radius: 0;
  padding: 0;
  max-height: 400px;
}

.hero-image-container.no-radius img {
  border-radius: 0;
  height: 100%;
  object-fit: contain;
  width: auto;
  max-height: 100%;
}

.image-placeholder {
  background-color: #cccccc;
  padding: 40px;
  border-radius: 20px;
  color: #444;
  font-weight: bold;
}

.responsive-heading {
  font-size: 2rem;
}

.responsive-paragraph {
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .sobrenos-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .responsive-heading {
    font-size: 1.5rem;
  }

  .responsive-paragraph {
    font-size: 0.95rem;
  }
}