.cadastro-container {
  display: flex;
  height: 100vh;
}

.form-section {
  flex: 1;
  background-color: #2a6441;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 85%;
}

.form-wrapper h1 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  color: #000;
}

.image-section {
  flex: 1;
  display: none;
}

@media (min-width: 768px) {
  .image-section {
    display: block;
    position: relative;
  }

  .cadastro-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}