.navbar-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 70px;
  padding: 0 1.5rem; 
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-brand a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #2A6441;
  text-decoration: none;
}

.nav-desktop {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto; 
}

.nav-link-item {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

.profile-area-desktop {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.profile-icon {
  width: 45px;
  height: 45px;
}

.default-user-icon {
  width: 100%;
  height: 100%;
  color: #a0a0a0;
}

.profile-actions {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  line-height: 1.2;
}

.profile-actions a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #2A6441;
  font-weight: 500;
}

.profile-actions span {
  display: none;
}

.menu-toggle, .nav-mobile {
  display: none;
}


@media (max-width: 992px) {
  .nav-desktop, .profile-area-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #2A6441;
    cursor: pointer;
    z-index: 1001;
  }
  .nav-mobile-profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  }
  
  .navbar-content {
    justify-content: space-between;
  }

  .nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  
  position: fixed;        
  top: 0;                 
  left: 0;
  width: 100%;
  height: 100%;           
  background-color: white;
  z-index: 1000;
  padding: 80px 1rem 2rem 1rem;
  overflow-y: auto;       
  
  transform: translateY(-100%); 
  transition: transform 0.3s ease-in-out;
  }
  
  .nav-mobile.open {
    transform: translateY(0); 
  }
  
  .nav-mobile a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
  }
  
  .separator {
    width: 80%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 0.5rem 0;
  }
}