.footer-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem 1.5rem;
  background-color: #2A6441;
  color: #ffffff;
  width: 100vw; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.copyright-text p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 500;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #FEF3B4;
}

@media (min-width: 768px) {
  .footer-contato {
    flex-direction: row;
    justify-content: space-between;
  }
}